# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
backend/bin/
*.test
*.out
go.work

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env
.pytest_cache/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite

# Logs
*.log
project_code.txt

*.env