# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
backend/bin/
*.test
*.out
go.work

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env
.pytest_cache/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite

# Logs
*.log
project_code.txt

*.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

claudflared.deb
cloudflared.deb